<h1 style="color:#198754; text-align: center;">register a new subjects</h1>
<form action="/student2" method="POST">
   
    <div>
        <label for=""> subject1 </label>
        <select name="subject" id="" class="form-select" style=" border:solid  rgb(151, 185, 173) ;">
            {{#each subjects}}
               <option>{{name}}</option>
            {{/each}}

        <option value="">  </option>
            
        </select>
    </div>
    <div>
        <label for=""> subject2 </label>
        <select name="subject" id="" class="form-select" style=" border:solid  rgb(151, 185, 173) ;">
            {{#each subjects}}
               <option>{{name}}</option>
            {{/each}}

        <option value=""> </option>
            
        </select>
    </div>
    <div>
        <label for=""> subject3 </label>
        <select name="subject" id="" class="form-select" style=" border:solid  rgb(151, 185, 173) ;">
            {{#each subjects}}
               <option>{{name}}</option>
            {{/each}}

        <option value=""> </option>
            
        </select>
    </div>
    <div>
        <label for=""> subject4 </label>
        <select name="subject" id="" class="form-select" style=" border:solid  rgb(151, 185, 173) ;">
            {{#each subjects}}
               <option>{{name}}</option>
            {{/each}}

        <option value="">  </option>
            
        </select>
    </div>
    <div>
        <label for=""> subject5 </label>
        <select name="subject" id="" class="form-select" style=" border:solid  rgb(151, 185, 173) ;">
            {{#each subjects}}
               <option>{{name}}</option>
            {{/each}}

        <option value="">  </option>
            
        </select>
    </div>
    <div>
        <label for=""> subject6 </label>
        <select name="subject" id="" class="form-select" style=" border:solid  rgb(151, 185, 173) ;">
            {{#each subjects}}
               <option>{{name}}</option>
            {{/each}}

        <option value=""> </option>
            
        </select>
    </div><br>
    <div>
        <button class="btn btn-success" type="submit" >
            register
        </button>
    </div>


</form>